body {
    background-color: #f8f9fa;
}

.card img {
    height: 250px;
    object-fit: cover;
}

h2 {
    color: #4b0082; /* Morado claro */
}

.btn-success {
    background-color: #6f42c1;
    border-color: #6f42c1;
}

.btn-success:hover {
    background-color: #5a379e;
    border-color: #5a379e;
}
